<div class="ui three cards"  id="mainn">
  <% @courses.each do |course| %>
    <div id="course-<%= course.id %>" class="ui card">
      <%= render partial: "index", locals: {course: course} %> 
    </div>
    <br>
  <% end %>
  <%= paginate @courses %>
</div>